
.boardColumn {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid gray; */
}

.boardColumn:hover {
    background-color: #00bcd405;
}

.circle {
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.gray {
    background-color: #bbb;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}